{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block pagecontent %}
{% translate "Current step: " as curstep %}
<div class="row">
    <div class="col-12">
        {% blocktranslate with step_cur=step step_tot=steps_verbose|length %}
        Your currently at step{{ step_cur }} of {{ step_tot }} total steps.
        {% endblocktranslate %}
    </div>
</div>
{% if jump_warn %}
<div class="row">
    <div class="col-12">
        <h2>{{ jump_warn }}</h2>
    </div>
</div>
{% endif %}
<div class="row">
    {% for stepv in steps_verbose %}
        <div class="col-2 lowpad">
            <form method="post" action="/step/" >
            {% csrf_token %}
            <input type="hidden" name="jump" value="{{ forloop.counter }}" />
            {% if forloop.counter < step %}<input type="submit" class="stepstyle stepdone" value="{{ forloop.counter }}. {{ stepv }}" />{% endif %}
            {% if forloop.counter == step %}<input type="submit" class="stepstyle stepcur" value="{{ forloop.counter }}. {{ stepv }}" />{% endif %}
            {% if forloop.counter > step %}<input type="submit" class="stepstyle" value="{{ forloop.counter }}. {{ stepv }}" />{% endif %}
            </form>
        </div>
        {% if forloop.counter == 6 %}</div><div class="row">{% endif %}
    {% endfor %}
</div>
<div class="row">
    <div class="col-12">
        {% if greeting %}
        <h2>{{ greeting }}</h2>
        {% endif %}
        {% if explenation %}
        <p>{{ explanation }}</p>
        {% endif %}
    </div>
</div>
{% if form %}
{% if form.is_multipart %}
    <form enctype="multipart/form-data" method="post" action="/step/" >
{% else %}
    <form method="post" action="/step/" >
{% endif %}
    {% csrf_token %}
    {{ form }}
    <div class="row">
        <input class="center buttonstyle"  type="submit" value="{{ submit }}">
    </div>
</form>
{% endif %}
<br>
{% endblock %}